<?xml version="1.0" encoding="utf-8"?>
<Configuration status="WARN">

    <!-- 
        Salesforce-ServiceNow ITSM Integration API
        Production-Ready Logging Configuration
    -->

    <Properties>
        <Property name="APP_NAME">salesforce-servicenow-api</Property>
        <Property name="LOG_PATTERN">%-5p %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [correlationId: %X{correlationId}] [processor: %X{processorPath}] %c{1}: %m%n</Property>
        <Property name="JSON_LOG_PATTERN">{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%p","thread":"%t","correlationId":"%X{correlationId}","processor":"%X{processorPath}","logger":"%c{1}","message":"%m"}%n</Property>
    </Properties>

    <Appenders>
        <!-- Rolling File Appender for Application Logs -->
        <RollingFile name="file" 
                     fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}${APP_NAME}.log"
                     filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}${APP_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${sys:mule.home}${sys:file.separator}logs" maxDepth="1">
                    <IfFileName glob="${APP_NAME}-*.log.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Rolling File Appender for Error Logs -->
        <RollingFile name="errorFile" 
                     fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}${APP_NAME}-error.log"
                     filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}${APP_NAME}-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- HTTP Wire Traffic - Set to DEBUG only for troubleshooting -->
        <AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" level="WARN"/>
        <AsyncLogger name="org.mule.service.http" level="WARN"/>
        <AsyncLogger name="org.mule.extension.http" level="WARN"/>

        <!-- APIKit Logging -->
        <AsyncLogger name="org.mule.module.apikit" level="INFO"/>

        <!-- Mule Runtime Logging -->
        <AsyncLogger name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor" level="INFO"/>
        <AsyncLogger name="org.mule.runtime" level="WARN"/>

        <!-- Object Store Logging -->
        <AsyncLogger name="org.mule.extension.objectstore" level="WARN"/>

        <!-- Secure Properties Logging -->
        <AsyncLogger name="com.mulesoft.modules.secure.properties" level="WARN"/>

        <!-- Application Specific Logging -->
        <AsyncLogger name="com.mycompany" level="INFO"/>

        <!-- Root Logger -->
        <AsyncRoot level="INFO">
            <AppenderRef ref="file"/>
            <AppenderRef ref="errorFile"/>
            <AppenderRef ref="Console"/>
        </AsyncRoot>
    </Loggers>

</Configuration>
